


/* Category Section */
.category_cont{
    border-bottom: 1px solid black;
}
.category_inner{
    display: flex;
    padding: 5px;
    justify-content: space-between;
}
.cate_element{
    margin: 0 1vw;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 2px;
}
.cate_element:hover{
    border:1px solid black;
    cursor: pointer; 
}
.active{
    border: 1px solid black;
}

/* main container */
.main_cont{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.main_inner{
    width: 60%;
}